* {
  box-sizing: border-box;
}

body {
    background: rgb(230,230,240);
    background: linear-gradient(270deg, rgba(230,230,240,1) 24%, rgba(153,139,146,1) 80%, rgba(184,178,174,1) 100%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}


.main {
  margin-top: 5px;
  margin-right: 0px;
  padding-top: 5px;

}

.nav {
  margin-right: 0px;
}

.nav-item {
  font-size: 16px;
  margin: 15px;
  opacity: .8;
}

.display-4 {
  font-size: 80px;
}

.container {
  margin-left: 55px;
}

.jumbotron {
  background: rgb(230,230,240);
  background: linear-gradient(270deg, rgba(230,230,240,1) 24%, rgba(153,139,146,1) 80%, rgba(184,178,174,1) 100%);
    
}
